/* 
-Font Sizes(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1;
}

.container {
    max-width: 144rem;
}

.center--div {
    margin: 0 auto;
}

.heading--secondary {
    font-family: "Oranienbaum", serif;
    font-size: 5.4rem;
    font-weight: 400;
    line-height: 1.2;
}

.heading--tertiary {
    font-family: "Oranienbaum", serif;
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: capitalize;
}

.btn {
    padding: 1.4rem 2.5rem;
    font-weight: 600;
    letter-spacing: .05rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    cursor: pointer;
}

.title {
    color: #BD7655;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: .1rem;
}

.description {
    font-size: 1.6rem;
    color: #575351;
    width: 66rem;
    line-height: 1.6;
}

.text--center {
    text-align: center;
}

.grid {
    display: grid;
    gap: 3rem;
}

.grid--cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid--cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid--cols-4 {
    grid-template-columns: repeat(4, 1fr);
}